@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Nunito;
    background-color: rgb(255, 255, 255);
}

.container-header{
    max-width: 1200px;
    display: flex;
    gap: 30;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 5px #306d2a;
    border-radius: 50px;
}

.logo{
    margin-top: 5px;
    margin-left: 50px;
}

.menu{
    padding-top: 16px;
    margin-left: 500px;
}

nav ul{
    list-style-type: none;
    gap: 50px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #48A23F;
    font-size: 20px;
    font-weight: bold;
}

#about-us{
    display: flex;
    flex-direction: row;
    gap: -10px;
    justify-content: center;
}

.box-1{
    margin-top: 20px;

    background-color: #65b14b;
    height: 80vh;
    width: 90vh;
}

.box-2{
    margin-top: 20px;
    margin-left: 20px;
    background-color: #65b14b;
    height: 80vh;
    width: 75vh;
}

.title{
    padding-top: 10px;
    padding-bottom: 05px;
    text-align: center;
    font-size: 28px;
}

.history-1{
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-weight: 500;
}

.history-2{
    text-align: justify;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-weight: 500;
}

.frutopia-goals-1{
    text-align: justify;
    padding-top: 05px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-weight: 500;
}

.frutopia-goals-2{
    text-align: justify;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-weight: 500;
}