@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Nunito;
    background-color: rgb(255, 255, 255);
}

.container-header{
    max-width: 1200px;
    display: flex;
    gap: 30;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 5px #306d2a;
    border-radius: 50px;
}

.logo{
    margin-top: 5px;
    margin-left: 50px;
}

.menu{
    padding-top: 16px;
    margin-left: 500px;
}

nav ul{
    list-style-type: none;
    gap: 50px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #48A23F;
    font-size: 20px;
    font-weight: bold;
}

#banner{
    margin-top: 20px;
    margin-bottom: 40px;
    background-image: url(background/background-green.jpg);
    height: 400px;
    text-align: center;
}

.container-banner{
    margin-top: 20px;
    padding-top: 140px;
    color: white;
    text-shadow: 1px 1px 2px #000000;
}
.titulo-banner{
    font-size: 50px;
}

.p-banner{
    font-size: 27px;
    margin-top: -10px;
}

.h2-products{
    text-align: center;
    color: #295f24;
    font-size: 30px;
}

.p-products{
    text-align: center;
    color: #367a2f;
    font-size: 23px;
    font-weight: 600;
    margin-top: -10px;
    margin-bottom: 20px;
}

.one-left{
    transform: rotate(180deg);
    margin-top: 120px;
}

.one-right{
    margin-top: 120px;
}

.line{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 4%;
    margin-bottom: 50px;
}

.vegetable-line{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 15%;
    margin-bottom: 50px;
}
.product-image{
    border-radius: 15px;
    /*border: 1px solid #48A23F;*/
    box-shadow: 0px 0px 1px #1c501f;
}

.product-name{
    font-size: 18px;
    text-align: center;
}

.container-price{
    display: flex;
    gap: 10px;
    margin-left: 60px;
}

.product-discount{
    font-size: 13px;
    margin-top: 3px;
}

footer {
    background-color: #295f24;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}